div{
  padding: 15px;
}
#header_style {
  background-color: #d6cbd3;
  text-align: center;
}

#footer_style {
  background-color: #ada397;
  text-align: center;
  clear: both;
}

#nav_style {
  background-color: #bdcebe;
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 700px;
}

#main_area_style {
  background-color: #eca1a6;
  float: right;
  width: 50%;
  box-sizing: border-box;
  height: 700px;
}
#left_style {
  background-color: #d6cbd3;
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 200px;
}
#right_style {
  background-color: #bdcebe;
  float: right;
  width: 50%;
  box-sizing: border-box;
  height: 200px;
}
