.Green_color_15_size_font{
  background-color: Green ;
  font: 15px Arial, sans-serif;
}
.Gray_color_18_size_font{
  background-color:Gray;
  font:18px oblique, sans-serif;
}

.Gray_color{
  background-color:Gray
}
.yellow_color{
  background-color: yellow
}
.red_color_for_font{
color: red
}
